.widget-title {
  font-size: 18px;
  font-family: sans-serif;
  color: #003a75;
  margin-top: 30px;
}
.bgs {
  background-color: #163141;
}
.para {
  font-size: 13px;
  font-family: sans-serif;
  color: #6e8497;
}
@media (max-width: 400px) {
  .hight {
    width: 200px;
  }
}

.margin-x {
  margin-left: 140px;
}
.margin-p {
  margin-left: 153px;
}
@media (max-width: 400px) {
  .margin-x {
    margin-left: 30px;
  }
  .margin-p {
    margin-left: 45px;
  }
}

.bg {
  background-color: #008aff;
}
.marge {
  padding-bottom: 100px;
}
