.div-bg{
    color: #009868;
    background-color :#00986827;
}
.div-bg-1{
    color: #E95F33;
    background-color :#E95F331A;
    font-size: 12px;
    font-family: sans-serif;
}
.div-bg-2{
    color: #009868;
    background-color :#00986827;
}
.fonts{
    color: #5D6F7D;
    font-family: sans-serif;
    font-size: 15px;
   margin-top: 20px;
}
.font-h{
    color: #072b58cb;
    font-family: sans-serif;
    font-style: bold;
    font-size: 15px ;
    margin: 10px 0px 8px;
   
}
.h2-1{
    color: #072b58cb;
    font-family: sans-serif;
    font-style: bold;
    font-size: 20px ;
    margin: 0px 0px 8px;
}
.h2-2{
    color: #072b58ef;
    font-family: sans-serif;
    font-style: bold;
    font-size: 30px ;
    margin: 0px 0px 8px;
}
.h2-3{
    color: #072b58ef;
    font-family: sans-serif;
    font-style: bold;
    font-size: 28px ;
    margin: 10px 0px 8px;
}
.h2-4{
    color: #072b58ef;
    font-family: sans-serif;
    font-style: bold;
    font-size: 35px ;
    margin: 0px 0px 8px;
}